html
  head
    title Example
    each stylesheet in css
      link(rel='stylesheet', type='text/css', src=relative + stylesheet) 
  body
    h1 We did it!
    each script in javascript
      src(type='text/javascript', src=relative + script)
